<html></body>
    <head>
        <title>Data</title>
    </head>
    <body>
    <div class="container">
      <h1> <%= datas.humidity %> </h1>
      <p> <%= datas.temperature %> </p>
    </div>
    <footer>Test Footer</footer>
  </body>
  </html>