<!DOCTYPE HTML>
<html>

<head>
    <title>Enviro-Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  
</head>

<body>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
        <a class="navbar-brand" href="index">
            <img src="images\zthd1kdfxy131.png" alt="Logo" style="height:35px">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="map">Map</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="data">Data</a>
                </li>
                <li class="nav-item">
                    <a id="hide" class="nav-link disabled" href="input">Input</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu p-3 dropdown-menu-right">
                        <form class="form-horizontal" method="post" accept-charset="UTF-8">
                            <input id="userName" class="form-control login" type="text" name="username2" placeholder="Username">
                            <input id="passWord" class="form-control login" type="password" name="password2" placeholder="Password">
                            <input id="admin" class="btn btn-primary" type="button" name="submit" value="Login">
                        </form>
                    </div>
                </li>
        </div>
    </nav>

    <div class="jumbotron text-center">
        <h1 class="display-1">Welcome to Enviro-Map</h1>
        <h4>Location based Environmental Data Provider</h4>
    </div>

    <div class="container">
        <h1 class="display-4" style="text-align: center">About Us</h1>
        <br>
        <p style="text-align: justify" class="lead">Our goal is to provide Researchers/Organizations/Students access to
            a wide range of up-to date
            environmental data free of cost to aid the progress of reseach.
            We understand that it takes considerable effort and hardship to physically gather data while doing a
            research and there are also costs involved when buying expensive gadgets/machineries
            to measure certain environmental factors.
        </p>
        <p style="text-align: justify" class="lead">We strive to provide these data for free by a collaborative
            approach of bringing environmental data from various trusted sources.</p>
        <hr class="my-4">
        </hr>
        <!--Collapsible Environmental Factors-->
        <button class="collapsible">List of Environmental Data we provide</button>
        <div class="content">
            <p>
                <ul style="float: left">
                    <li>Temperature</li>
                    <li>Humidity</li>
                    <li><a href="http://www.npi.gov.au/resource/particulate-matter-pm10-and-pm25">PM 10μm</li>
                    <li><a href="http://www.npi.gov.au/resource/particulate-matter-pm10-and-pm25">PM 2.5μm</li>
                    <li><a href="http://www.npi.gov.au/resource/particulate-matter-pm10-and-pm25">PM 1.0μm</a></li>
                </ul>
                <ul id="secondList">
                    <li><a href="https://en.wikipedia.org/wiki/Air_quality_index">Air Quality Index</a></li>
                    <li><a href="https://www.mae.gov.nl.ca/waterres/quality/drinkingwater/dwqi.html">Water Quality
                            Index</a></li>
                    <li><a href="https://en.wikipedia.org/wiki/Volatile_organic_compound">Volatile Organic Compounds
                            (VOCs)</a></li>
                    <li>Land Type</li>
                </ul>
            </p>
        </div>
    </div>
    <hr class="my-4">
    <div class="container">
        <h1 class="display-4" style="text-align: center">Our Services</h1>
        <br></Br>
        <div class="row">
            <div class="col-sm-4">
                <img src="\images\map-of-the-world-2401458_1920.jpg" class="img-thumbnail" alt="World Map">
                <br></br>
                <p style="text-align: justify">Interactive World Map with various environmental datas from Air Quality
                    Index, Particulate matter, Ozone readings and many more.</p>
            </div>
            <div class="col-sm-4">
                <img id="envdataImg"
                    src="\images\Going-Green-The-Importance-of-Digitalising-Environmental-Data.jpg"
                    class="img-thumbnail" alt="Environmental Data">
                <br></br>
                <p style="text-align: justify">Various Environmental Paramemters such as Temperature, Humidity, Land
                    type, etc. for any location of your choice.</p>
            </div>
            <div class="col-sm-4">
                <img id="requestBrdImg" src="\images\quest_art_03_by_phantomania-dclrryw.png"
                    class="img-thumbnail" alt="Request Board">
                <br></br>
                <p style="text-align: justify">Request data for a location you need if it does not exist.</p>
            </div>
        </div>
    </div>
    <hr class="my-4">

    <!-- Container (Contact Section) -->
    <div class="container">
        <div id="contact" class="container-fluid bg-grey">
            <h1 class="display-4" style="text-align: center">Contact Us</h1>
            <br>
            <div class="row">
                <div class="col-sm-5">
                    <p>Contact us and we'll get back to you within 24 hours.</p>
                    <p><i class="fa fa-map-marker" aria-hidden="true"></i> Dhaka, Bangladesh</p>
                    <p><i class="fa fa-phone" aria-hidden="true"></i> +880 1685918554</p>
                    <p><i class="fa fa-envelope" aria-hidden="true"></i> rifatmahmud196@enviro-map.bd</p>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                        </div>
                        <div class="col-sm-6 form-group">
                            <input class="form-control" id="email" name="email" placeholder="Email" type="email"
                                required>
                        </div>
                    </div>
                    <textarea class="form-control" id="comments" name="comments" placeholder="Comment"
                        rows="5"></textarea><br>
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <button class="btn btn-primary pull-right" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="JS/script.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>